@model KutuphaneYonetimi2O.Entites.Model.YayinEvi
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yayin Evi ekleme</h2>

@using (Html.BeginForm("Ekle", "YayinEvi", FormMethod.Post))
{
    <br />
    @Html.Label("Adi")
    @Html.TextBoxFor(x => x.YayinEviAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.YayinEviAciklama, new { @class = "form-control" })

    <br />
    <button class="btn-success"> Yayin Evi Ekle </button>
}

