@using KutuphaneYonetimi2O.Entites.Model
@model List<Yetki>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align: center; margin: 15px; background-color: #343A40; color: white ">
    <h2> <b>Yetkiler </b></h2>
</div>

<table class="table table-bordered">
    <thead style="text-align: center; margin: 15px; background-color: #343A40; color: white ">
        <tr>
            <th>Id</th>
            <th>Yetkisi</th>
            <th>Açıklama</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var yetki in Model)
        {
            //ToDo update model with modal popup (Yetki Id yi nası lgeçiricem)
            <tr>
                <td>@yetki.YetkiId</td>
                <td>@yetki.YetkiAdi</td>
                <td>@yetki.YetkiAciklama</td>
                <td>
                    <a class="btn btn-danger" href="/Yetki/Sil/@yetki.YetkiId"> Sil </a>&nbsp;
                    <a class="btn btn-success" href="/Yetki/Guncelle/@yetki.YetkiId"> Güncelle </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary" style="background-color: #343A40;color:white" name="btnPersonelekle" data-toggle="modal" data-target="#YetkiEkle"> Yetki Ekle</button>


<div class="modal fade" id="YetkiEkle" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> </span></button>
                <h4 class="modal-title" id="myModalLabel">Yetki Ekleme</h4>
            </div>
            <form method="post" action="/Yetki/Ekle" class="form-group">
                <div class="modal-body">

                    <label>  Yetki Adı</label>

                    <input type="text" name="YetkiAdi" class="form-control" />
                    <br />

                    <label>Açıklama</label>

                    <input type="text" name="YetkiAciklama" class="form-control" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Yetkiyi Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>


