@using Blog.EntitesLayer.Concrate
@model About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Hakkımızda</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    <div class="blog_info_left_grid">
                        <a href="single.html">
                            <img src="images/b5.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <h3>
                        @Model.AboutTitle
                    </h3>
                    <p>
                        @Model.AboutContent
                    </p>
                </div>
            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="images/banner1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="tech-btm">
                        <h4>Sign up to our newsletter</h4>
                        <p>Pellentesque dui, non felis. Maecenas male </p>
                        <form action="#" method="post">
                            <input type="email" placeholder="Email" required="">
                            <input type="submit" value="Subscribe">
                        </form>

                    </div>
                    <div class="tech-btm widget_social">
                        <h4>Sosyal Medya Hesaplarımız</h4>
                        <ul>

                            <li>
                                <a class="twitter" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span class="count">317K</span> Twitter Followers
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span class="count">218k</span> Twitter Followers
                                </a>
                            </li>
                            <li>
                                <a class="dribble" href="#">
                                    <i class="fab fa-dribbble"></i>

                                    <span class="count">215k</span> Dribble Followers
                                </a>
                            </li>
                            <li>
                                <a class="pin" href="#">
                                    <i class="fab fa-pinterest"></i>
                                    <span class="count">190k</span> Pinterest Followers
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>
<!--//main-->
