@model Blog.EntitesLayer.Concrate.Subscripe

<h4>Sign up to our newsletter</h4>
<p>Pellentesque dui, non felis. Maecenas male </p>
<form action="Subscripe" method="post">
    <input type="email" placeholder="Email"  name ="Email" required="">
    <input type="submit" value="Subscribe">
</form>

