USE [master]
GO
/****** Object:  Database [DbBlogMvc]    Script Date: 31.05.2022 15:14:50 ******/
CREATE DATABASE [DbBlogMvc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbBlogMvc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbBlogMvc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbBlogMvc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbBlogMvc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbBlogMvc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbBlogMvc]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserLastName] [nvarchar](50) NULL,
	[UserEmail] [nvarchar](200) NULL,
	[UserPassword] [nvarchar](30) NULL,
	[UserStatus] [bit] NOT NULL,
	[ForgetPassword] [nvarchar](max) NULL,
	[IsValidForgetPassword] [bit] NOT NULL,
	[DomainId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UserPhotoName] [nvarchar](100) NULL,
	[UserPhotoPath] [nvarchar](200) NULL,
	[UserPhotoThumpnailPath] [nvarchar](200) NULL,
	[UserTitel] [nvarchar](100) NULL,
	[UserAbout] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[PostTitle] [nvarchar](200) NULL,
	[PostContent] [nvarchar](4000) NULL,
	[PhotoId] [int] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[WriterId] [int] NULL,
	[CategoriId] [int] NULL,
	[PostStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnBlogBilgileriById]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnBlogBilgileriById](@BlogId int)
returns table

return(
	select Categories.CategoryId, Categories.CategoryName,
			Users.UserName +' ' +Users.UserLastName as Writer, Users.UserEmail,
			Posts.PostTitle, Posts.PostContent
	from Users inner join Posts on Users.UserId = Posts.WriterId
	inner join	Categories on Posts.CategoriId = Categories.CategoryId
	where Posts.PostId = @BlogId
)
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[AboutTitle] [nvarchar](200) NULL,
	[AboutContent] [nvarchar](4000) NULL,
	[AboutStatus] [bit] NOT NULL,
	[PhotoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentTitle] [nvarchar](100) NULL,
	[CommentContent] [nvarchar](4000) NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domains]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domains](
	[DomainId] [int] IDENTITY(1,1) NOT NULL,
	[DomainName] [nvarchar](50) NULL,
	[DomainStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Domains] PRIMARY KEY CLUSTERED 
(
	[DomainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folowers]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folowers](
	[FolowerId] [int] IDENTITY(1,1) NOT NULL,
	[TakiEdenId] [int] NOT NULL,
	[TakipEdilenId] [int] NOT NULL,
	[TakipEden_UserId] [int] NULL,
	[TakipEdilen_UserId] [int] NULL,
 CONSTRAINT [PK_dbo.Folowers] PRIMARY KEY CLUSTERED 
(
	[FolowerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[MessageSubject] [nvarchar](200) NULL,
	[MessageContent] [nvarchar](4000) NULL,
	[CreateDate] [datetime] NOT NULL,
	[MessageSenderId] [int] NOT NULL,
	[MessageReciverId] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[MessageReciver_UserId] [int] NULL,
	[MessageSender_UserId] [int] NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[PhotoName] [varchar](100) NULL,
	[PhotoPath] [varchar](250) NULL,
	[PhotoTumbnail] [varchar](250) NULL,
 CONSTRAINT [PK_dbo.Photos] PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialMedias]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMedias](
	[SocialMediaId] [int] IDENTITY(1,1) NOT NULL,
	[SocialMediaName] [nvarchar](30) NULL,
	[SocialMediaIconClass] [nvarchar](30) NULL,
	[SocialMediaFolowerCount] [nvarchar](10) NULL,
	[SocialMediaStatus] [bit] NOT NULL,
	[SocialMediaLink] [nvarchar](200) NULL,
	[SocialMediaClass] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.SocialMedias] PRIMARY KEY CLUSTERED 
(
	[SocialMediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscripes]    Script Date: 31.05.2022 15:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscripes](
	[SubscripeId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[IsValid] [bit] NOT NULL,
	[ActivationCode] [nvarchar](64) NULL,
 CONSTRAINT [PK_dbo.Subscripes] PRIMARY KEY CLUSTERED 
(
	[SubscripeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutId], [AboutTitle], [AboutContent], [AboutStatus], [PhotoId]) VALUES (9, N'asad', N'asda', 0, 1)
INSERT [dbo].[Abouts] ([AboutId], [AboutTitle], [AboutContent], [AboutStatus], [PhotoId]) VALUES (10, N'Deneme amaçlı hakkımda ekleme', N'Deneme amaçlı hakkımda ekleme', 0, 4)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryStatus]) VALUES (1, N'Teknoloji', 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryStatus]) VALUES (2, N'Yazılım', 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryStatus]) VALUES (3, N'.net', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentId], [CommentTitle], [CommentContent], [PostId], [UserId], [CommentDateTime]) VALUES (1, N'Harihka Bir Seri', N'Sizi beğenerek takip ediyorum. Gerçekten birşyler göstermeye çalışıyorsunuz', 2, 3, CAST(N'2022-03-28T10:06:22.307' AS DateTime))
INSERT [dbo].[Comments] ([CommentId], [CommentTitle], [CommentContent], [PostId], [UserId], [CommentDateTime]) VALUES (2, N'Serinin Devamı', N'Ef 6.x ile ilgili bir çalışma yaparmısınız', 2, 3, CAST(N'2022-03-29T15:06:22.307' AS DateTime))
INSERT [dbo].[Comments] ([CommentId], [CommentTitle], [CommentContent], [PostId], [UserId], [CommentDateTime]) VALUES (3, N'Hata alıyorum', N'first code hata alıyorum. Çözemedim bir türlü', 2, 3, CAST(N'2022-03-29T17:06:22.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Domains] ON 

INSERT [dbo].[Domains] ([DomainId], [DomainName], [DomainStatus]) VALUES (1, N'Yazar', 1)
INSERT [dbo].[Domains] ([DomainId], [DomainName], [DomainStatus]) VALUES (2, N'Admin', 1)
INSERT [dbo].[Domains] ([DomainId], [DomainName], [DomainStatus]) VALUES (3, N'Asistan', 1)
SET IDENTITY_INSERT [dbo].[Domains] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([PhotoId], [PhotoName], [PhotoPath], [PhotoTumbnail]) VALUES (1, N'Hakkimizda', N'/BoostrapTemplate/web/images/1.jpg', N'/BoostrapTemplate/web/images/b5.jpg')
INSERT [dbo].[Photos] ([PhotoId], [PhotoName], [PhotoPath], [PhotoTumbnail]) VALUES (2, N'Hakkimizda2', N'/BoostrapTemplate/web/images/1.jpg', N'/BoostrapTemplate/web/images/b5.jpg')
INSERT [dbo].[Photos] ([PhotoId], [PhotoName], [PhotoPath], [PhotoTumbnail]) VALUES (3, N'Hakkimizda2', N'/BoostrapTemplate/web/images/1.jpg', N'/BoostrapTemplate/web/images/b5.jpg')
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[SocialMedias] ON 

INSERT [dbo].[SocialMedias] ([SocialMediaId], [SocialMediaName], [SocialMediaIconClass], [SocialMediaFolowerCount], [SocialMediaStatus], [SocialMediaLink], [SocialMediaClass]) VALUES (1, N'Twitter', N'fab fa-twitter', N'15K', 1, N'www.tuncaytanin.com.tr', N'twitter')
INSERT [dbo].[SocialMedias] ([SocialMediaId], [SocialMediaName], [SocialMediaIconClass], [SocialMediaFolowerCount], [SocialMediaStatus], [SocialMediaLink], [SocialMediaClass]) VALUES (2, N'Facebook', N'fab fa-facebook-f', N'28K', 1, N'www.facebook.com', N'facebook')
INSERT [dbo].[SocialMedias] ([SocialMediaId], [SocialMediaName], [SocialMediaIconClass], [SocialMediaFolowerCount], [SocialMediaStatus], [SocialMediaLink], [SocialMediaClass]) VALUES (3, N'Linkedin', N'fab fa-linkedin', N'500', 1, N'www.linkedin.com', N'twitter')
SET IDENTITY_INSERT [dbo].[SocialMedias] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [UserLastName], [UserEmail], [UserPassword], [UserStatus], [ForgetPassword], [IsValidForgetPassword], [DomainId], [CreateDate], [UserPhotoName], [UserPhotoPath], [UserPhotoThumpnailPath], [UserTitel], [UserAbout]) VALUES (3, N'Tuncay', N'Tanin', N'tt@gmail.com', N'123456', 1, N'0', 0, 1, CAST(N'2022-03-22T14:10:00.640' AS DateTime), NULL, N'/BoostrapTemplate/web/images/t1.jpg', N'/BoostrapTemplate/web/images/t1.jpg', N'Software Develapor', N'Yazılım geliştirme işlemleri')
INSERT [dbo].[Users] ([UserId], [UserName], [UserLastName], [UserEmail], [UserPassword], [UserStatus], [ForgetPassword], [IsValidForgetPassword], [DomainId], [CreateDate], [UserPhotoName], [UserPhotoPath], [UserPhotoThumpnailPath], [UserTitel], [UserAbout]) VALUES (4, N'ahmet', N'cetinnnnn', N'ahmet@gmail.com', N'123456', 1, NULL, 0, 1, CAST(N'2022-04-05T14:41:07.777' AS DateTime), NULL, N'/BoostrapTemplate/web/images/t1.jpg', N'/BoostrapTemplate/web/images/t1.jpg', N'Full Stack Devaloper', N'Full Stack Devaloper')
INSERT [dbo].[Users] ([UserId], [UserName], [UserLastName], [UserEmail], [UserPassword], [UserStatus], [ForgetPassword], [IsValidForgetPassword], [DomainId], [CreateDate], [UserPhotoName], [UserPhotoPath], [UserPhotoThumpnailPath], [UserTitel], [UserAbout]) VALUES (5, N'tuncay', N'tanin', N'tuncaytanin@live.com', N'tt', 1, NULL, 0, 1, CAST(N'2022-05-10T13:46:12.923' AS DateTime), NULL, N'/BoostrapTemplate/web/images/t1.jpg', N'/BoostrapTemplate/web/images/t1.jpg', N'Backend Devealpor', N'Backend Devealpor')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_PhotoId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_PhotoId] ON [dbo].[Abouts]
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TakipEden_UserId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_TakipEden_UserId] ON [dbo].[Folowers]
(
	[TakipEden_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TakipEdilen_UserId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_TakipEdilen_UserId] ON [dbo].[Folowers]
(
	[TakipEdilen_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageReciver_UserId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_MessageReciver_UserId] ON [dbo].[Messages]
(
	[MessageReciver_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageSender_UserId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_MessageSender_UserId] ON [dbo].[Messages]
(
	[MessageSender_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoriId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_CategoriId] ON [dbo].[Posts]
(
	[CategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhotoId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_PhotoId] ON [dbo].[Posts]
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WriterId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_WriterId] ON [dbo].[Posts]
(
	[WriterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DomainId]    Script Date: 31.05.2022 15:14:51 ******/
CREATE NONCLUSTERED INDEX [IX_DomainId] ON [dbo].[Users]
(
	[DomainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CommentDateTime]
GO
ALTER TABLE [dbo].[Posts] ADD  CONSTRAINT [DF_Posts_CommentCount]  DEFAULT ((0)) FOR [CommentCount]
GO
ALTER TABLE [dbo].[Posts] ADD  CONSTRAINT [DF_Posts_LikeCount]  DEFAULT ((0)) FOR [LikeCount]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [PostStatus]
GO
ALTER TABLE [dbo].[Abouts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Abouts_dbo.Photos_PhotoId] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[Photos] ([PhotoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Abouts] CHECK CONSTRAINT [FK_dbo.Abouts_dbo.Photos_PhotoId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Folowers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Folowers_dbo.Users_TakipEden_UserId] FOREIGN KEY([TakipEden_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Folowers] CHECK CONSTRAINT [FK_dbo.Folowers_dbo.Users_TakipEden_UserId]
GO
ALTER TABLE [dbo].[Folowers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Folowers_dbo.Users_TakipEdilen_UserId] FOREIGN KEY([TakipEdilen_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Folowers] CHECK CONSTRAINT [FK_dbo.Folowers_dbo.Users_TakipEdilen_UserId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Users_MessageReciver_UserId] FOREIGN KEY([MessageReciver_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Users_MessageReciver_UserId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Users_MessageSender_UserId] FOREIGN KEY([MessageSender_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Users_MessageSender_UserId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Categories_CategoriId] FOREIGN KEY([CategoriId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Categories_CategoriId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Photos_PhotoId] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[Photos] ([PhotoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Photos_PhotoId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Users_WriterId] FOREIGN KEY([WriterId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Users_WriterId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Domains_DomainId] FOREIGN KEY([DomainId])
REFERENCES [dbo].[Domains] ([DomainId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Domains_DomainId]
GO
USE [master]
GO
